.landing {
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  box-shadow: 10px 10px 10px rgba(2, 2, 2, 0.2);
}

.landing--img {
  --img-size: 315px;
  position: absolute;
  left: 30%;
  transform: translateX(-50%);
  width: var(--img-size);
  height: var(--img-size);
  object-fit: cover;
  border-radius: 20%;
  transition: opacity 0.3s, filter 1s ease-in;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  border: 4px solid #f75cee;
  box-shadow: 0px 0px 12px 2px #dba9d8;
}

.landing--img:hover {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
}

.landing--container-left {
  flex: 35%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.lcl--content {
  margin: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.landing--social {
  font-size: 55px;
  margin: 0 1rem;
  padding: 0.1rem;
  box-shadow: 0px 0px 12px 2px #f75cee;
  transition: transform 0.5s;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing--social:hover {
  transform: scale(1.2);
}

.landing--container-right {
  flex: 65%;
  height: 100%;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.lcr--content {
  width: 55%;
  margin-right: 7rem;
  font-family: var(--primaryFont);
  font-size: 25px;
  font-style: normal;
  text-shadow: 0 1px 1px #fcfeff,0 0 0.1em #818994,0 0 .1em #404347;
  font-weight: 100;
}

.lcr--content h6 {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: -0.85rem;
  opacity: 0.8;
}

.lcr--content h1 {
  font-weight: 600;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 110%;
  margin: 1rem 0;
  text-shadow: 0 1px 1px #fcfeff,0 0 0.1em #818994,0 0 .1em #0a0a0a;
}

.lcr--content p {
  margin-top: 1.45rem;
  font-weight: 500;
  font-size: 1.1rem;
  opacity: 0.7;
  text-shadow: 0 0 1px #46494e, 0 0 0.1em #8f949a, 0 0 0.1em #4b4f56;
}


.lcr-buttonContainer {
  margin-top: 3rem;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "var(--primaryFont)", sans-serif;
}

@media (max-width: 1100px) {
  .landing--img {
    --img-size: 305px;
    border: 4px solid rgb(5, 140, 224);
  }
  .lcl--content {
    margin: 2rem;
  }

  .lcr--content h6 {
    font-size: 1.1rem;
  }

  .lcr--content h1 {
    font-size: 3rem;
  }

  .lcr--content p {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1rem;
  }

  .lcr-buttonContainer {
    margin-top: 1rem;
    flex-direction: column;
    width: 200px;
    height: 120px;
    align-items: flex-start;
  }
}

@media (max-width: 900px) {
  .landing--img {
    --img-size: 280px;
  }

  .landing--social {
    font-size: 40px;
  }
  .lcr--content {
    width: 60%;
    margin-top: 10%;
    margin-right: 6%;
  }

  .lcr-buttonContainer {
    margin-top: 1rem;
    flex-direction: column;
    width: 200px;
    height: 120px;
    align-items: flex-start;
  }
  .lcr-buttonContainer button:nth-child(2) {
    display: none;
  }
}

@media (max-width: 600px) {
  .landing--container {
    flex-direction: column;
    justify-content: space-between;
  }
  .landing--img {
    --img-size: 200px;
    left: 50%;
    top: 30%;
    border: 8px solid #eaeaea;
    transform: translate(-50%, -50%);
  }
  .landing--container-left {
    flex: initial;
    width: 100%;
    height: 30%;
  }

  .landing--social {
    font-size: 40px;
    margin: 0 1rem;
    padding: 0.1rem;
    box-shadow: 0px 0px 12px 2px #f75cee;
    transition: transform 0.5s;
    width: 70%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    left: 88%;
    
  }
  
  .landing--container-right {
    box-sizing: border-box;
    padding: 0 2rem;
    flex: initial;
    height: 70%;
    width: 100%;
    background-color: #eaeaea;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }
  .lcr--content {
    margin-top: 20%;
    margin-right: initial;
    width: 100%;
  }
  .lcr--content .typed-header {
    display: block;
    font-size: 1rem;
    text-align: center;
  }
  .lcr--content h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .lcr--content p {
    font-size: 0.95rem;
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }
  .lcr-buttonContainer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lcr-buttonContainer button {
    margin-top: -20%;
  }
}

@media (max-width: 500px) {
  .lcr--content {
    margin-top: 35%;
  }
}

@media (max-width: 370px) {
  .lcr--content {
    margin-top: 60%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
  .landing {
    height: 100%;
  }

  .landing--img {
    --img-size: 150px;
    left: 50%;
    top: 20%;
  }
}
